@keyframes animacion_test{
    from{
        background-color:  rgb(92, 102, 255);
    }
    to{
        background-color:  rgb(30, 33, 202);
    }
}

body{
    background-color: rgb(220, 152, 251);

    animation: animacion_test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
h1{
    margin-left: 10%;
}
div{
    width: 80%;
    background-color: #98B6B1;
    margin-left: 10%;
    border-radius: 1rem;
}
p{
    text-align: center;
}
footer{
    background-color: #98B6B1;
}
a{
    color: black;
}
form{
    text-align: center;
}
input{
    background-color: #98B6B1;
    text-align: center;
    border: .2rem solid #495D63;
    border-radius: 1rem;
}
.salida{
    border: 0;
    outline: none;
}
button{
    border-radius: 1rem;
    background-color: #D7BCC8;
    height: 1.5rem;
    width: 15%;
    border: 0;
}